html
  display: flex
  height: 100%

body
  display: flex
  flex: 1
  flex-direction: column
  margin: 0

  > button
    border-radius: 100px
    width: 200px
    height: 200px
    margin: auto

  > button.spider
    height: 64px
    width: 64px
    margin: 0 auto

  > canvas
    flex: 1
    image-rendering: auto
    image-rendering: crisp-edges
    image-rendering: pixelated
    margin: auto
    width: 100%